VITE_SUPABASE_URL=https://yvjelzhzuhtxiyfrnzlm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2amVsemh6dWh0eGl5ZnJuemxtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNzc3NjEsImV4cCI6MjA4ODY1Mzc2MX0.0g1zkRNY4YPsTf3YuUkTKFByfpYj4U1y9hkHznkzBhs
